<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <body>
        <header>
          <ul>
            <li><a href="{{ url_for('logout') }}" style="margin-right: 30px">Logout</a></li>
            <li style="float: left"><h6 class="brand-name">.TrackIt</h6></li>
          </ul>
        </header>
          <div class="grid-container" onload="updateStatus({{ experiments }})">
                    {% for experiment in experiments %}
                        <div class="card" id="{{ experiment.id }}" onclick="cardClickEvent({{ experiment.id }})">
                            <span class="dot-red"></span>
                            <h6 style="padding: 0; margin:0; padding-bottom: 10px;"># {{ experiment.id }}</h5>
                            <h3 style="padding: 0; margin:0; padding-bottom: 10px;">{{ experiment.name }}</h3>
                            <h5 style="padding: 0; margin:0; padding-bottom: 10px;">{{ experiment.description }}</h5>
                            <h4 style="padding: 0; margin:0;">Started : {{ experiment.start }}</h4>
                        </div> 
                    {% endfor %}
          </div>

          <footer>
            <div class="footer"></div>
          </footer>
          <input type="hidden" id="url_id" value="{{ url_for('experiment') }}">

          <script>
            /*var updateStatus = function(experiments) {
              for(var i=0; i<experiments.length; i++) {
                var newSpan = document.createElement('span');
                if (experiments[i].status == "1") {
                  newSpan.setAttribute('class', 'dot-green');
                }
                else if (experiments[i].status == "0") {
                  newSpan.setAttribute('class', 'dot-yellow');
                }
                document.getElementById(experiments[i].id).appendChild(newSpan);  
              }
            }*/

            var cardClickEvent = function(id) {
                window.location.assign(document.querySelector('#url_id').value + "?id=" + id);
            }
        </script>
</body>
</html>